@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.wrapper__element {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
.wrapper__title {
  width: 100%;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}

.btn {
  padding: 0;
  border: 1px solid #000;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 1px;
  color: #000;
  background-color: transparent;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.3);
  transform: scale(1.05);
}
.btn__trigger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
}
.btn__trigger--active .btn__icon {
  background-image: url("../img/arrow-down-left-circle-fill.svg");
}
.btn__text {
  display: block;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.btn__icon {
  display: block;
  position: relative;
  width: 15px;
  height: 100%;
  margin-left: 10px;
  overflow: hidden;
  background-image: url("../img/arrow-down-left-circle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.chat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  width: 440px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 5px 8px 4px rgba(141, 150, 178, 0.6);
}
.chat__top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.chat__field {
  width: calc(100% - 191px);
  border: 2px solid #315efb;
  font-size: 14px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.chat__field:focus-visible {
  outline: none;
  border-color: #315efb;
}
.chat__submit {
  width: 110px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #315efb;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.chat__geo {
  width: 70px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #315efb;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.chat__history {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #315efb;
  border-radius: 5px;
  margin-top: 15px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  overflow: auto;
}
.chat__msg {
  width: fit-content;
  height: auto;
  border: 2px solid #315efb;
  border-radius: 30px;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  padding: 15px;
  margin-bottom: 5px;
  margin-left: auto;
}
.chat__msg--answer {
  background-color: #315efb;
  color: white;
  margin-left: 0;
  margin-right: auto;
}
.chat__msg--geo {
  background-color: #315efb;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
